.img2 {
    width: 50%;
    height: 100%;
    
}

.hi{
    width: 70px;
    height: 70px;
    margin-top: 0%;
    
}

.hi2 {
    display: flex;
    width: 70px;
    height: 70px;
    margin-top: 3%;
   
 }

